<!DOCYPE html>
<html lang="ja"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <title>Paint History</title>
        <link rel="stylesheet" type= "text/css" href= "css/style.css" media="all">
    </head>
    <body>
        <h1 class="head-group"> Hello, <%= @user%>!<br>Welcome to Share Paint</h1>
        <table border id="history-table">
            <tr>
                <th>ID</th>
                <th>作成者</th>
                <th>最終更新日時</th>
                <th>画像</th>
                <th>削除</th>
            </tr>
            <% @list.each do |row| %>
            <tr>
                <td><%= row.id %></td>
                <td><%= row.user %></td>
                <td><%= row.date %></td>
                <td>
                    <a href="<%= row.image_path %>" id="image-link" class="button">画像を表示</a>
                </td> 
                <td>
                    <form method="post" action="delete">
                        <input type="hidden" name="picture" value="<%= row.image_path %>" >
                        <input type="submit" id="image-clear" class="clear" value="削除">
                    </form>
                </td>
                <!--リンクの埋め込みのためaタグを使用-->
            </tr>
            <% end %>
        </table>
        
    </body>
</html>